<h1>New Special Day Form</h1>

<ul>
  <% @special_day.errors.full_messages.each do |error| %>
    <li>
      <%= error %>
    </li>
  <% end %>
</ul>

<%= form_for @special_day do |f| %>
  <p>Name: <%= f.text_field :name %></p>
  <p>When: <%= f.text_field :when %></p>
  <%= f.submit "Create!" %>
<% end %>